body, .main_wrap{
    height:100%;
    margin: 0;
    background: rgba(216, 216, 216, 0.1);
}
.HTML_header{
    position: relative;
    height: 60px;
    margin-left: 40px;
}
.header_logo{
    display: block;
    float: left;
    top: 0;
    position: absolute;
    color: rgb(97, 97, 97);
}
.header_logo h2{
    margin: 0;
}
.genre_ul{
    padding-left: 120px;
    padding-top: 5px;
}
.genre_item{
    float: left;
    list-style: none;
    margin-right: 8px;
}

.main_section{
    width: 1070px;
    margin: 0 auto;
    position: relative;
    background: rgba(158, 158, 158, 0.1);
}
.left_div{
    width: 70px;
    height: 100%;
    float: left;
    margin-left: 55px;
}
.weather_wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.weather_div{
    text-align: center;
    float:right;
    margin-top: 10px;
    border-bottom: 1px solid rgba(158, 158, 158, 0.4);
}
.weather_div>div{
    font-size: 13px;
}
.weather_img_src{
    width: 50px;
    height: 30px;
}

.daily_news{
    width: 100%;
    text-align: center;
}
.youtube_news{
    margin: 20px auto;
    
}


.OnAir_wrap{
    float: left;
}
.OnAir_div{
    float: left;
}
.OnAir_select_channel{
    height: 188px;
}

.OnAir_select_channel div{
    width: 150px;
}
.OnAir_select_channel button{
    border: 1px solid rgba(156, 156, 156, 0.3);
    background: none;
    padding: 5px;
    margin: 0;
    width: 100%;
}
.OnAir_select_channel button:hover{
    cursor: pointer;
}


.show_OnAir{
    width: 918px;
    height: 190px;
    border: 1px solid red;
}
.show_OnAir:hover{
    background: rgba(198, 243, 255, 0.5);
}

.OnAir_img img{
    width: 185px;
    height: 190px;
    
}
.OnAir_info{
    width: 720px;
    padding-left: 10px;
    padding-top: 10px;
}
.OnAir_item{
    margin: 10px;
}

.show_item{
    float: left;
}

a{
    text-decoration: none;
}